{% extends 'base.html' %} {% block title %}Create{% endblock %} {% load static
%} {%block content%} {%for data in page_obj%}

<table class="table">
  <tbody>
    <tr>
      <td>
        <img
          src="http://localhost:8000/media/{{ data.logo }}"
          class="img-fluid"
          alt="{{ data.image }}"
          style="height: 130px; width: 350px; padding: 2px"
        />
      </td>
      <td>{{data.brand_name}}</td>
      <td style="text-align: center">
        <a href="{% url 'computer:update_brand' data.id %}"
          ><button type="submit" class="btn btn-primary">Edit</button></a
        >
      </td>
    </tr>
  </tbody>
</table>

{% endfor %}
<div class="pagination">
  <span class="step-links">
    {%if page_obj.has_previous%}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {%endif%}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {%if page_obj.has_next%}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
<a href="{% url 'computer:create_brand' %}">
  <button class="button">Add</button>
</a>

{%endblock%}
